import React from 'react';

export default (props) => (
    <div className="form-group">
        <label htmlFor={props.id}>{props.placeholder}</label>
        <input type="text" className="form-control" id={props.id} {...props}/>
    </div>
)